.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Cria 4 colunas de largura igual */
    grid-gap: 10px; /* Espaçamento entre as cartas */
    justify-content: center; /* Centraliza as cartas horizontalmente */
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .container h1{
    margin-top: 40px;
    text-align: center;
    color: #fff;


  }

  .infoContent  {

    font-weight: 600;
    
    
    color: gold;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 60%;
    margin: 20px auto;
    
   
    
    
    
    
  }

  .infoContent p span{

    color: #fff;
  }

  @media(max-width:1000px){

    .grid{
      width: 90%;
      grid-template-columns: repeat(5, 1fr);
    }

    .infoContent{
      width: 90%;
    }
  }

  @media(max-width:850px){

    .grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  
  @media(max-width:650px){
    

    .grid{

      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media(max-width:500px){

    .grid{
      
    
      grid-template-columns: repeat(2, 1fr);
    }
  }