.card {
 
  background-color: #ccc;
  display: flex;
  
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px auto;
  transition: background-color 0.5s, transform 0.5s;
  height: 200px;
  width: 120px;
  border-radius: 0.5rem;
 
  

}

.cardHard{
  background-color: #ccc;
  display: flex;
  
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px auto;
  transition: background-color 0.5s, transform 0.5s;
  height: 150px;
  width: 110px;
  border-radius: 0.5rem;

}

.cardHard img{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.cardHard.revealcard {
 
  transform: rotateY(180deg);
  
  
}


.card img{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.card.revealcard {
 
  transform: rotateY(180deg);
  
  
}

@media(max-width:1200px){

  .card{
    height: 170px;
    width: 120px;
  }
}