.formTheme{

    display: flex;
    flex-direction: column;
    padding: 10px;
    
    
}

.formTheme label{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.formTheme select{
    width: 200px;
    height: 33px;
    font-weight: 600;
    
}
.formTheme option{

    
    text-align: center;
    
    
}