.container{

    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.content{
    margin-top: 30px;
}

.container H3{
    margin:  50px 0;
}
.content p{

    font-weight: 600;
    margin-bottom: 15px;
    

}

.input{
    padding: 8px;
    

    
}
.btnClose{

    color: red;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 16px;
    background-color: #001510;
    border-radius: 33%;
    padding: 12px;
}

.palavraExibida{
    
    letter-spacing: 10px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
   
    
    
    
    
    
    
}

.letrasTentadas span{
    color: RED;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 18px;
}

.doff{
    display: none;
}
.btnMain{

    
        background-image: linear-gradient(to right, #00bf8f 0%, #001510  51%, #00bf8f  100%);
        margin: 10px;
        padding: 10px 12px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        
      }

      .btnMain:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
     
    .derrotaContent{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

         
.btnJogarNovamente{
    background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    width: 200px;
  }

  .btnJogarNovamente:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


 
  @media(max-width:1281px){

    .container{

        gap: 0;
    }

    .container h3{
        margin: 15px;
    }

    .input{

        padding: 7px;
    }
    .container h1{

        font-size: 18px;
        
            
        position: absolute;
        top: 25px;
    }
  }


  @media(max-width:540px){

    .container{
        gap: 0px;
    }
        
      }
    
    
      @media(max-width:412px){
    .input{
        padding: 6px;
    }
    
      }
    
 

  @media(max-width:394px){

    .input{
        width: 120px;
    }
  }


 

 
  @media(max-width:281px){


    .container{

        height: 100vh;
    }

    .container h1{

        font-size: 16px;
        margin-top: 15px;
    }

    .container h3{
        margin-top: 15px;
        
    }
    .input{
        padding: 5px;
        
    }
.letrasTentadas span{
    font-size: 14px;
}
    .btnClose{

        padding: 9px;
        right: 12px;
    }

    .btnMain{
        padding: 10px;
        font-size: 12px;
    }
    .textDerrota{

        font-weight: bold;
        text-align: center;
        
          
          
        
        }
        .textDerrota span{display: block;
        margin-top: 3px;}
        
  }